@font-face {
    font-family: 'Whitney-Semibold';
    src: url('../fonts/Whitney-Semibold.woff2') format('woff2');
}
@font-face {
    font-family: 'Whitney-Light';
    src: url('../fonts/Whitney-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Whitney-Regular';
    src: url('../fonts/Whitney-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'SegoeUI-SemiBold';
    src: url('../fonts/SegoeUI-SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'SegoeUI-Light';
    src: url('../fonts/SegoeUI-Light.woff') format('woff');
}